rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /users/{uid} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    match /ladders/{ladderId} {
      allow read: if true;
      allow update: if request.auth != null;
    }
  }
}
