<div class="app-shell">

  <app-sidebar [class.open]="isSidebarOpen()" (click)="isSidebarOpen.set(false)" [isSidebarOpen]="isSidebarOpen()"
    (toggleEvent)="toggleSidebar()">
  </app-sidebar>

  <main class="app-content-area" [class.content-overlay-active]="isSidebarOpen()" [class.pushed]="isSidebarOpen()">

  </main>

  <main class="app-content-area" [class.content-overlay-active]="isSidebarOpen()" [class.pushed]="isSidebarOpen()">
    <router-outlet></router-outlet>
    <section class="leaderboard-section" *ngIf="authService.profile() === null"></section>
  </main>
</div>