<div class="app-shell">
  <!-- Top Bar -->
  <mat-toolbar color="surface" class="topbar">
    <div class="left-section">
      <button mat-icon-button (click)="toggleSidebar()" class="menu-btn" aria-label="Toggle sidebar">
        <span [innerHTML]="isSidebarOpen ? 'x' : '☰'"></span>
      </button>
      <span class="app-title">Ranked</span>
    </div>

    <div class="right-section">

      <!-- Auth buttons -->
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedInButtons">
        <button (click)="this.isSidebarOpen=false" class="auth-btn login" routerLink="/login">Login</button>
      </ng-container>

      <ng-template #loggedInButtons>
        <button (click)="this.isSidebarOpen=false" class="auth-btn logout" (click)="authService.logout()">Logout</button>
      </ng-template>
    </div>
  </mat-toolbar>

  <!-- Main layout area -->
  <div class="layout-container">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [class.open]="isSidebarOpen" [isSidebarOpen]="isSidebarOpen"
      [class.collapsed]="!isSidebarOpen" (clickOutside)="closeSidebar()" (toggleEvent)="toggleSidebar()"></app-sidebar>

    <!-- Main content -->
    <main class="main-content" [class.sidebar-open]="isSidebarOpen">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>