<div class="match-form-container">
  <form (ngSubmit)="recordMatch()" class="match-form form-card">

    <div class="player-vs-player">
      <div class="player-display opponent">
        <input type="text" [(ngModel)]="opponentId" name="opponentId" placeholder="Opponent ID (e.g., UUID)" required
          class="opponent-id-input" (ngModelChange)="fetchOpponentData()" />
        <img [src]="opponentAvatarUrl()" alt="Opponent Avatar" class="player-avatar" />
        <span class="player-name opponent-name-placeholder">{{ opponentNameDisplay() }}</span>
      </div>
    </div>

    <h3>Game Scores</h3>

    <div class="score-input-grid">
      <div class="grid-header">
        <span>Game</span>
        <span class="you-col">You</span>
        <span class="opp-col">Opponent</span>
      </div>

      <ng-container *ngFor="let game of games(); let i = index">
        <div class="game-label">Game {{ game.game }}</div>
        <input type="number" [(ngModel)]="games()[i].yourScore" name="yourScore-{{ i }}" min="0" class="score-input" style="margin-left:30px; width: auto"/>
        <input type="number" [(ngModel)]="games()[i].opponentScore" name="opponentScore-{{ i }}" min="0"
          class="score-input" style="margin-left:30px; width: auto" />
      </ng-container>
    </div>

    <button type="submit" class="submit-button">Submit Match</button>
  </form>
</div>